name: Release Tag

on:
  workflow_run:
    workflows: ["Release Prepare"]
    types:
      - completed

jobs:
  tag:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        fetch-depth: 0
        ref: main

    - name: Extract release version
      id: extract
      run: |
        RELEASE_VERSION=$(grep -oP '<revision>\K[^<]+' pom.xml)
        echo "Release version: $RELEASE_VERSION"
        echo "release_version=$RELEASE_VERSION" >> $GITHUB_OUTPUT

    - name: Create and push tag
      run: |
        git tag v${{ steps.extract.outputs.release_version }}
        git push origin v${{ steps.extract.outputs.release_version }}
